.thumbnail, .mitThumbnail, .materialThumbnail, .eduThumbnail, .postThumbnail {
    padding: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.thumbnail, .mitThumbnail, .materialThumbnail, .eduThumbnail, .postThumbnail > span {
    color: black;
}

.thumbnailWindow {
    display: flex;
    column-gap: 3rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.thumbnail {
    background: linear-gradient(to right, rgb(156, 250, 211), rgb(205, 255, 251));
    width: 100%;
}