.materialThumbnail {
    background: linear-gradient(to right, rgb(185, 219, 255), rgb(179, 250, 255));
    width: 300px;
}

.mitThumbnail {
    background: linear-gradient(to right, rgb(199, 255, 138), rgba(229, 255, 192, 0.885));
    width: 300px;
    margin-bottom: 10px;
}

#materialBg {
    position: absolute; 
    height: 320px; 
    bottom: 50px; 
    right: 60px; 
    z-index: -1; 
    /* transform: rotate(10deg); */
    filter: invert(40%);
    mask-image: linear-gradient(to left, black 60%, transparent 100%);
}