nav {
    position: sticky;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    top: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    padding-left: min(50px, 5vw);
    padding-right: min(50px, 5vw);

    color: white;
    background: linear-gradient(to right, #003425, #005B41);
    /* linear-gradient(to right, rgb(19, 28, 19), rgb(38, 95, 64)); */
    font: normal 1.5rem Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    text-decoration: none;
}

.navbutton {
    color: white;
    pointer-events: stroke;
    font-size: 1.2rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbutton:hover {
    color: skyblue;
    transform: scale(1.3);
}

footer {
    background: linear-gradient(to right, rgb(38, 152, 89), aquamarine);
    color: white;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}

footer > a {
    text-decoration: none;
}

#socmed {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#langSelect {
    position: absolute;
    justify-items: center;
    align-items: center;
    top: 100%;
    right:  0%;
    width: 60px;
}

#langSelect > a {
    display: flex;
    align-items: center;
}

