nav {
    position: sticky;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;

    color: white;
    background: linear-gradient(to right, rgb(19, 28, 19), rgb(38, 95, 64));
    font: normal 1.5rem Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    color: white;
    pointer-events: stroke;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

#navmenu > a:hover {
    color: skyblue;
    transform: scale(1.3);
}

footer {
    background: linear-gradient(to right, rgb(38, 152, 89), aquamarine);
    color: white;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}

footer > a {
    text-decoration: none;
}

#socmed {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#langselect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 0px;
    width: 50px;
    height: 40px;
    font-size: 0.8rem;
}