#postWindow {
    height: 300px;
    margin-right: 200px;
    overflow: scroll;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.postThumbnail {
    background: linear-gradient(to right, rgb(160, 244, 240), rgb(205, 240, 255));
    margin-bottom: 20px;
    justify-content: space-between;
    border-radius: 10px;
}

.postThumbnail > span {
    color: black;
}

#postBg {
    position: absolute; 
    height: 320px; 
    top: 120px; 
    right: 60px; 
    z-index: -1; 
    transform: rotate(10deg);
    filter: invert(40%);
    mask-image: linear-gradient(to left, black 60%, transparent 100%);
}